#imgViewerMain {
  filter: none !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.img-viewer-main-wrap {
  background: #f5f5f0;
}

.img-viewer-main-wrap img {
  object-fit: cover;
}

.img-thumb img {
  opacity: 1 !important;
}
